.secondary-panel
  %h2.panel__heading.text-center Places I've Worked
  .row.work-experience
    .medium-8.medium-offset-2.work-experience__item
      %h4
        =link_to 'Barclays - Full Stack Developer', 'https://www.bespokeoffers.co.uk/', target: '_blank'
      %p
        Worked on a nationally marketed UK e-commerce web application within a large,
        globally distributed team. I worked on a wide variety of features ranging
        from a client side angularJS shopping basket, optimizing page caching
        performance, to programmatically encrypting and archiving files.
    .medium-8.medium-offset-2.work-experience__item
      %h4
        = link_to 'Astrails - Full Stack Developer', 'http://astrails.com/', target: '_blank'
      %p
        Astrails is a development shop out of Tel Aviv, Israel. I work on many
        different types of applications and have the pleasure of working along
        side Vitaly Kushner (co-author of The Rails 4 Way).
    .medium-8.medium-offset-2.work-experience__item
      %h4
        = link_to 'Digital Reflow - Software Consultant', 'http://www.digitalreflow.co.uk/', target: '_blank'
      %p
        Digital Reflow is a digital agency out of London, England. I assist with
        implementation of various software feature. Most recently I converted one
        of their larger client applications from mongoDB to Postgresql. I also
        offer guidance and advice on building scalable product and programming
        best practices.
    .medium-8.medium-offset-2.work-experience__item
      %h4
        = link_to 'The Scrap Post - Software Consultant', 'https://www.thescrappost.com/', target: '_blank'
      %p
        When the scrap post brought me on board their software was in shambles.
        I quickly started cleaning up the mess by first auditing the code, then
        fixing all the failing tests.  After the code was in a decent state
        I then added an advanced search widget, fixed performance issues
        (n+1 queries, database indexing issues, etc) and other various small tasks.