.primary-panel.text-center
  = image_tag 'mwitek-intro-bg.jpg'
  %p.icon-mwitek-logo.medium-logo
  %h1.primary-panel__heading Matthew Witek
  %p.primary-panel__sub-heading Full Stack Web Application Developer
.secondary-panel.intro-panel.row.full-width.text-center
  .columns.medium-7.small-centered
    I am a software developer residing in Michigan. My main tools are Ruby,
    CoffeeScript, HAML, SCSS.