.primary-panel {
  background: $ruby;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 5rem;
  img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
}

.primary-panel,
.primary-panel__heading,
.primary-panel__sub-heading {
  color: white;
}

.primary-panel__heading,
.panel__heading {
  font-family: 'Roboto Slab';
  font-size: 3rem;
  font-weight: 300;
  line-height: 100%;
}

.medium-logo,
.primary-panel__heading,
.primary-panel__sub-heading,
.secondary-panel {
  position: relative;
  z-index: 2;
}

.panel__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.primary-panel__sub-heading {
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: 100;
}

.medium-logo {
  font-size: 18rem;
  margin: -2rem 0 -3rem;
}
@media #{$large-up} {
  .medium-logo {
    font-size: 24rem;
  }
}

.secondary-panel {
  background: white;
  font-size: 1.5rem;
  font-family: 'Merriweather';
  padding: 4rem 0;
}

.intro-panel {
  padding: 4rem 0;
}

@media #{$medium-up} {
  .primary-panel__heading,
  .panel__heading {
    font-size: 4rem;
  }
  
  .primary-panel__sub-heading {
    font-size: 1.75rem;
  }
  
  .intro-panel {
    padding: 8rem 0;
  }
  
  .secondary-panel {
    font-size: 1.75rem;
    padding: 3rem 0;
  }
}

.background-highlight {
  background: #F9F5F1;
  border-bottom: 1px solid darken(#F9F5F1, 5%);
  border-top: 1px solid darken(#F9F5F1, 5%);
}

.project-gallery {
  .columns {
    margin: 1rem 0;
  }
}

.projectgallery__nav {
  font-family: 'Roboto';
  font-size: 1.25rem;

  & a:first-child {
    &:after {
      content: "|";
      margin-left: 8px;
      margin-right: 2px;
    }
  }
}

.project-gallery__image {
  display: block;
  height: auto;
  max-width: 101%;
  position: relative;
  transition: opacity 0.35s;
}

.project-gallery__item-overlay-panel {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fff;
  bottom: 0;
  color: #3c4a50;
  height: 3.75rem;
  font-size: 1.25rem;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
  top: auto;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);

  &::before,
  &::after {
    pointer-events: none;
  }
}

.project-gallery__item__heading {
  display: inline-block;
  float: left;
  font-weight: 300;
}

.project-gallery__item-heading,
.project-gallery__item-description {
  margin: 0;
}

.project-gallery__item {
  -webkit-backface-visibility: hidden;
  background: #001648;
  backface-visibility: hidden;
  border: 1px solid darken(#F9F5F1, 5%);
  cursor: default;
  float: left;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:hover {
    .project-gallery__image {
      opacity: 0.1;
    }

    .project-gallery__item-heading {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }

    .project-gallery__item-description {
      opacity: 1;
    }

    .project-gallery__item-overlay-panel,
    .project-gallery__item-heading{
      border: none;
      -webkit-transform: translate3d(-1px,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

.project-gallery__item-description {
  bottom: 100%;
  color: #fff;
  font-size: 1.25rem;
  left: 0;
  line-height: 150%;
  opacity: 0;
  padding: 0.85rem;
  position: absolute;
  text-shadow: 0px 0px 5px rgb(95, 21, 25);
  text-transform: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  width: 100%;
}

@media #{$large-up} {
  .project-gallery__item-description {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 200px) and (max-width: 400px) {
  .project-gallery__item-description {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 50em) {
  .project-gallery__item-description {
    font-size: 1rem;
  }
}

.project-gallery__item-heading {
  font-family: 'Roboto Slab';
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

.work-experience__item {
  border-bottom: 1px dashed darken(#F9F5F1, 10%);
  margin-bottom: 1.5rem;
  padding: 0 1.5rem 0.5rem;

  &:last-child {
    border-bottom: none;
  }
  
  h4 {
    font-size: 1.25rem;
  }
}

.new_inquiry {
  margin-bottom: 6rem;
  padding: 0 1.5rem;

  label {
    font-size: 0.85rem;
  }

  input[type='text'],
  textarea {
    border: 1px solid darken(#F9F5F1, 10%);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }

  textarea {
    height: 15rem;
    resize: none;
  }

  .button {
    padding: 1rem 4rem;
  }
}

.social-links {
  a {
    color: darken(#F9F5F1, 25%);
    font-size: 4rem;
    opacity: 0.65;
    transition: opacity 0.35s;
    &:hover {
      opacity: 1;
    }
  }

  span {
    margin: 0 0.25rem;
  }
}

.server-status-message {
  .success {
    color: $success-color;
  }

  .error {
    color: $warning-color;
  }
}