.primary-panel {
  background: $ruby image-url('mwitek-intro-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 5rem;
}

.primary-panel,
.primary-panel__heading,
.primary-panel__sub-heading {
  color: white;
}

.primary-panel__heading,
.panel__heading {
  font-family: 'Roboto Slab';
  font-size: 4rem;
  font-weight: 300;
  line-height: 100%;
}

.panel__heading {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.primary-panel__sub-heading {
  font-family: 'Roboto';
  font-size: 1.75rem;
  font-weight: 100;
}

.medium-logo {
  font-size: 24rem;
  margin: -2rem 0 -3rem;
}

.secondary-panel {
  background: white;
  font-size: 1.75rem;
  font-family: 'Merriweather';
  padding: 4rem 0;
}

.intro-panel {
  padding: 8rem 0;
}

.background-highlight {
  background: #F9F5F1;
  border-bottom: 1px solid darken(#F9F5F1, 5%);
  border-top: 1px solid darken(#F9F5F1, 5%);
}

.project-gallery {
  .columns {
    margin: 1rem 0;
  }
}

.projectgallery__nav {
  font-family: 'Roboto';
  font-size: 1.25rem;

  & a:first-child {
    &:after {
      content: "|";
      margin-left: 8px;
      margin-right: 2px;
    }
  }
}

.project-gallery__image {
  display: block;
  min-height: 100%;
  max-width: 101%;
  position: relative;
  transition: opacity 0.35s;
}

.project-gallery__item-overlay-panel {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fff;
  bottom: 0;
  color: #3c4a50;
  height: 3.75rem;
  font-size: 1.25rem;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-transform: uppercase;
  top: auto;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);

  &::before,
  &::after {
    pointer-events: none;
  }
}

.project-gallery__item__heading {
  display: inline-block;
  float: left;
  font-weight: 300;
}

.project-gallery__item-heading,
.project-gallery__item-description {
  margin: 0;
}

.project-gallery__item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid darken(#F9F5F1, 5%);
  cursor: pointer;
  float: left;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:hover {
    background: #85181c;
    .project-gallery__image {
      opacity: 0.1
    }

    .project-gallery__item-heading {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }

    .project-gallery__item-description {
      opacity: 1;
    }

    .project-gallery__item-overlay-panel,
    .project-gallery__item-heading{
      border: none;
      -webkit-transform: translate3d(-1px,0,0);
      transform: translate3d(0,0,0);
    }
  }
}

.project-gallery__item-description {
  bottom: 100%;
  color: #fff;
  font-size: 1rem;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  text-shadow: 0px 0px 5px rgb(95, 21, 25);
  text-transform: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.project-gallery__item-heading {
  font-family: 'Roboto Slab';
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

.work-experience__item {
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed darken(#F9F5F1, 10%);
  margin-bottom: 1.5rem;

  &:last-child {
    border-bottom: none;
  }
}