@font-face {
  font-family: 'mwitek-icons';
  src: font-url('mwitek-icons.eot');
  src: font-url('mwitek-icons.eot#iefix') format('embedded-opentype'),
       font-url('mwitek-icons.woff') format('woff'),
       font-url('mwitek-icons.ttf') format('truetype'),
       font-url('mwitek-icons.svg#mwitek-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "mwitek-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mwitek-logo:before {
  content: '\e800';
}

.icon-linkedin-logo:before {
  content: '\e801';
}

.icon-twitter-logo:before {
  content: '\e802';
}

.icon-github-logo:before {
  content: '\e803';
}